<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dashboard Sprint</title>
  <meta name="description" content="HTML5 Template">
  <meta name="author" content="JJJA">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css?v=1.0">

</head>

<body>
    <!-- h1>LinkedIn Sprint Thomas Kuegler October 2021</h1 -->
    <br>
    <input type="button" value='Templates' class="btn btn-primary" onclick="location.href='/templates'" >
    <input type="button" value='Track' class="btn btn-primary" onclick="location.href='/track'" >
    <input type="button" value='Stats' class="btn btn-primary" onclick="location.href='/stats'" >
    <br>
    <br>

    <form name="nueva" method="post" class="form-inline" action="/new_post">

        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Day(1-30)</span>
            </div>
            <input type="number" id="day_number" name="day_number" min="1" max="30" class="form-control" aria-label="Small" aria-describedby="inputGroup2">
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">URL:</span>
            </div>
            <input type="url" id="new_link" name="new_link" placeholder="LinkedIn URL" class="form-control">
            <input type="submit" value='Send' class="btn btn-success">
        </div>

    </form>

    <form name="nueva" method="post" class="form-inline" action="/dashboard">
        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup3">Day:</span>
            </div>
            <select name="filter_day" id="filter_day" class="form-control">
                <option {% if day_sel == '%' %} selected {% endif %} value="%">All</option>
                {% for d in range(1, 31) %}
                    <option {% if day_sel|int == d %} selected {% endif %} value="{{d}}">{{d}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup4">Sprinter:</span>
            </div>
            <select name="filter_owner" id="filter_owner" class="form-control">
                <option {% if owner_sel == '%' %} selected {% endif %} value="%">All</option>
                {% for sp in sprinters %}
                    <option {% if owner_sel == sp %} selected {% endif %} value="{{sp}}">{{sp}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group input-group-sm col-2">
            <input type="submit" value='Apply filter' class="btn btn-success">
        </div>
    </form>
    <br><p>

    <table class='table table-bordered table-striped table-hover table-sm table-responsive table-dark'>
        <thead>
            <tr class='bg-success'>
                <th>Day</th>
                <th>Owner</th>
                <th>Link</th>
                <th>Likes</th>
                <th>Comments (include answers)</th>
                {% for spr in sprinters %}
                    <th>{{spr}}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
        </thead>


        <tbody>
        {% for post in pivot %}
            <tr>
            {% for data in post %}
                {% if data == None %}
                    <td>0</td>
                {% elif loop.index0 == 2 %}
                    <td> <a target='post' href='{{data}}'>{{data}}</a></td>
                {% else %}
                    <td>{{data}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


</body>


