<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Edit Sprinter</title>
  <meta name="description" content="HTML5 Template">
  <meta name="author" content="JJJA">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css?v=1.0">

</head>

<body>
    <h2>Edit Sprinter {{datos[0]}}</h2>
    <br>

    <form name="signup" method="post" class="form-inline">
        <input name='accion' type='hidden'>

        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend-sm">
                <span class="input-group-text" id="inputGroup2">ID:</span>
            </div>
            <input size=20 type="text" id="id_sprinter" name="id_sprinter" placeholder="" class="form-control" value='{{datos[0]}}' readonly>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Username:</span>
            </div>
            <input size=20 type="text" id="username" name="username" placeholder="Username" class="form-control" value='{{datos[1]}}' required>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Password:</span>
            </div>
            <input size=20 type="password" id="password" name="password" placeholder="Password" class="form-control" value='{{datos[2]}}' required>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Name:</span>
            </div>
            <input size=20 type="text" id="sprinter" name="sprinter" placeholder="Name" class="form-control" value='{{datos[3]}}' required>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Profile:</span>
            </div>
            <input type="url" id="profile" name="profile" placeholder="Profile" class="form-control" value='{{datos[4]}}' required>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Sprint:</span>
            </div>
            <input type="number" id="sprint_number" name="sprint_number" placeholder="This is my sprint number..." class="form-control" value='{{datos[5]}}'>
        </div>
        <div class="input-group input-group-sm col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Group:</span>
            </div>
            <select name='group' id='group' class="form-control" required>
                <option value=''>-Select Group-</option>
                <option {% if datos[6] == '1' %} selected {% endif %} value="1">1</option>
                <option {% if datos[6] == '2' %} selected {% endif %} value="2">2</option>
                <option {% if datos[6] == '3' %} selected {% endif %} value="3">3</option>
                <option {% if datos[6] == '4' %} selected {% endif %} value="4">4</option>
            </select>
        </div>
        <div class="input-group input-group-sm col-8">
            <p>
        </div>
        <div class="input-group input-group-sm col-8">
            <button class='btn btn-primary' onclick="document.edit.accion.value='edit';">Save</button>
            <button class='btn btn-warning' onclick="location.href='/sprinters'" type="button">Cancel</button>
        </div>

    </form>
</body>

