<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LinkedIn Sprint January 2022</title>
  <meta name="description" content="HTML5 Template">
  <meta name="author" content="JJJA">
  <link rel="stylesheet" href="static/style.css?v=1.0">

</head>

<body>
    <h1>LinkedIn Sprint January 2022</h1>
    <br>
    <form action='/' method='post'>
        <input placeholder='User' name='username' type='text'><br>
        <input placeholder='Password' name='password' type='password'><br>
        <input type='submit' value='LogIn'>
    </form>
    <p>{{ mensaje }}</p>
    <p>{{ mensaje_signup }}</p>
    <p><a href="/signup">Create new account</a></p>

</body>
