{% extends 'control.html' %}

{% block content %}

    <form name="fposts" method="post" class="form-inline">
        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Group</span>
            </div>
            <select name="group_sel" id="group_sel" class="form-control">
                <option {% if group_sel == '%' %} selected {% endif %} value="%">All</option>
                {% for d in range(1, 5) %}
                    <option {% if group_sel|int == d %} selected {% endif %} value="{{d}}">{{d}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Day(1-30)</span>
            </div>
            <select name="day_sel" id="day_sel" class="form-control">
                <option {% if day_sel == '%' %} selected {% endif %} value="%">All</option>
                {% for d in range(1, 31) %}
                    <option {% if day_sel|int == d %} selected {% endif %} value="{{d}}">{{d}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group input-group-sm col-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup2">Sprinter:</span>
            </div>
            <select name='sprinter_sel' class="form-control" required>
                <option {% if sprinter_sel == 'All' %} selected {% endif %} value='%'>All</option>
                {% for sp in sprinters %}
                    <option {% if sprinter_sel == sp %} selected {% endif %} value="{{sp}}">{{sp}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group input-group-sm col-2">
            <input type="submit" value='Apply filter' class="btn btn-success">
            <span class="badge badge-success" id="progress"></span>
        </div>
    </form>
    <br><p>

    <table class='table table-bordered table-striped table-hover table-sm table-responsive table-dark'>
        <thead>
            <tr class='bg-success'>
                <th>No.</th>
                <th>Day</th>
                <th>Sprinter</th>
                <th>Date/Time</th>
                <th>Views</th>
                <th>Reactions</th>
                <th>Comments</th>
                <!-- <th>Sprint Comments</th> -->
                <!-- <th>Extra</th> -->
                <th>Open</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Read/Comment</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{loop.index0+1}}</td>
                <td>{{link[1]}}</td>
                <td>{{link[2]}}</td>
                <td>{{link[6]}}</td>
                <td>{% if link[7] is not none %}{{link[7]}} {% else %}0{% endif%}</td>
                <td>{% if link[8] is not none %}{{link[8]}} {% else %}0{% endif%}</td>
                <td>{% if link[9] is not none %}{{link[9]}} {% else %}0{% endif%}</td>
                <!-- <td>{{link[8]}}</td> -->
                <!-- <td></td> -->
                <td><a href='{{link[3]}}' target='post'><img src='static/open.png'></a></td>
                {% if link[2] == author or username == 'jjayala' %} 
                    <td><a href='/edit_post?id_post={{link[0]}}'><img src='static/edit.png'></td>
                    <td><a href='/delete_post?id_post={{link[0]}}'><img src='static/erase.png'></td>
                {% else %}
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                {% endif %}

                <td><input class='check' type='checkbox' name='id_post' id='{{link[0]}}' value='{{link[0]}}' {% if link[5]|int > 0 %} checked {% endif %}></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

