<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TODO LISTS</title>
  <meta name="description" content="HTML5 Template">
  <meta name="author" content="JJJA">
  <link rel="stylesheet" href="static/style.css?v=1.0">

</head>

<body>
    <h1>New Post</h1>
    <br>

    <form name='nueva' method='post'>
        <input name='accion' type='hidden'>

        <label for="quantity">Day number (1-30):</label>
        <input type="number" id="day_number" name="day_number" min="1" max="30">

        <label>New link:</label>
        <input type="url" id="new_link" name="new_link">
        <input type="submit" value='Send'>
    </form>
</body>

