{% extends 'control.html' %}

{% block content %}

    <table class='table table-bordered table-striped table-hover table-sm table-responsive table-dark'>
        <thead>
            <tr class='bg-success'>
                <th>Day.</th>
                <th>Link</th>
                <th>Comment</th>
            </tr>
        </thead>

        <tbody>
            {% for i,t in templates %}
            <tr>
                <td>{{i+1}}</td>
                <td><a target='templates' href='{{t}}'>{{t}}</a></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}


